numpy==1.23.5
llvmlite
numba
tensorboardX==2.5.1
protobuf==3.19.6
easydict
pyyaml
scikit-image
tqdm
SharedArray==3.0.0
opencv-python
pyquaternion
spconv-cu118
av2
kornia==0.6.5
shapely==1.8.4
pillow==9.3.0

